html, body {
    height:100%;
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    display:grid;
    padding: 1em;
    overflow: hidden;
}

#innsending {
    display:flex;
    flex-direction:row;
    gap:.2em;
    height:fit-content;
}

#sok {
    height:2em;
    display: flex;
    gap:1em;
}

#resultat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "informasjon kart";
    padding:1em;
    gap:1em;
    height:80vh;
}

#map {
    grid-area: kart;
}

#info {
    grid-area:informasjon;
    border:1px solid black;
    overflow-y: auto;
}